.events {
    display: flex;
    flex-direction: column;
    margin-block-start: 1.5rem;
    gap: .75rem;
    justify-self: center;
}

.event {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
}

.event label {
    font-size: .75rem;
}

.event i {
    font-size: 1.25rem;
}

.eventsTitle {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventsTitle i {
    font-size: 1.25rem;
}

.eventsTitle h4 {
    font-weight: normal;
}